<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/navigation')%>
    <div class="container p-5 mt-4 border">
                <form action="/post-movie" method="POST">
                    <div class="header">
                        <h3>Add Movie</h3>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title"/>
                    </div>

                    <div class="form-group">
                        <label for="ratings">Ratings</label>
                        <input type="number" class="form-control" name="ratings" id="ratings"/>
                    </div>

                    <div class="form-group">
                        <label for="publishDate">Publish date</label>
                        <input type="date" class="form-control" name="publishDate" id="publishDate"/>
                    </div>

                    <div class="form-group">
                        <label for="imgUrl">Image URL</label>
                        <input type="text" class="form-control" name="imgUrl" id="imgUrl"/>
                    </div>

                    <div class="form-group">
                        <label for="videoUrl">Video URL</label>
                        <input type="text" class="form-control" name="videoUrl" id="videoUrl"/>
                    </div>

                    <div class="form-group">
                        <label for="overView">Over View</label>
                        <textarea class="form-control" name="overView" id="overView" rows="3"></textarea>
                    </div>

                    <div class="text-right mt-5">
                        <button type="submit" class="btn btn-success">Add movie</button>
                    </div>
                </form>
    </div>
</body>